html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(244, 244, 244);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

#headshot {
    height: 100vh;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;    
    transform: translateX(-200px);
    transform: scale(1.15);
    position: fixed;
    z-index: -1;
    width: 35%;
    object-fit: cover;
}

nav {
    height: 80px;
    display: flex;
    position: fixed;
    top: 40px;
    margin: 0 auto;
    width: 95%;
    border-radius: 3rem;
    background-color: white;
    z-index: 1;
}

nav .nav-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

nav h2 {
    font-weight: 700;
    font-size: 1.25rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    min-width: 50%;
    margin-right: 5rem;
}

nav ul li {
    display: inline;
    padding: 1rem;
    font-size: .8rem;
    font-weight: 700;
    flex-wrap: nowrap;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: color .1s linear;
}

nav ul li a:hover {
    color: rgb(0,208,130);
}

/* main */

main {
    display: flex;
    width: 100%; 
}

main .left {
    width: 45%;
    min-height: 100vh;
}

main .center-container {
    padding: 1rem;
    width: 40%;
    top: 50px;
}

main .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-width: min(5%, 6rem);
    min-height: 100%;
    border-left: 1px solid rgb(214, 214, 214);
    position: fixed;
    right: 0;
    z-index: 0;
}

.center-container section {
    padding: 10vh 0;
    border-bottom: 1px solid grey;
}



.center-container .content > * {
    padding: .5rem 0;
    line-height: 1.5;
}

.container .content > h1 {
    line-height: 1.2;
}

.center-container #home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s
}

.center-container #home #icon-container {
    color: black;
    font-size: 1.5rem;
    border: 1px solid rgba(11, 11, 11, 0.132);
    border-radius: 50%;
    width: 3rem;
    height: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.center-container #home #scrollDown {
    color: black;
    animation: 1.5s linear infinite normal bounce, fadeIn 3s ease-in;
    -webkit-animation: 1.5s linear infinite normal bounce, fadeIn 3s ease-in;
}

.p-wrapper {
    width: 67%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes bounce { 
    0%, 100% {transform: translateY(0);} 
    25% {transform: translateY(3px);} 
    75% {transform: translateY(-3px);} 
 } 
 
 @keyframes bounce { 
    0%, 100% {transform: translateY(0);} 
    25% {transform: translateY(3px);} 
    75% {transform: translateY(-3px);} 
 }
 
 .bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
 }

h1, h2 {
    font-weight: 700;
    padding-bottom: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1rem;
    color:rgb(0,208,130);
    text-transform: uppercase;
    font-weight: bold;
}


.fa {
    font-size: 1rem;
    margin: 0 0 1rem 1rem;
    padding: 1rem;
    text-decoration: none;
    color:black;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50%;
    transition: color .2s linear;
    cursor: pointer;
}

.fa:hover {
    color: rgb(0,208,130);
}

.content{ 
    width: 100%;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.skills-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 2rem;
}

.skill  {
    line-height: 1;
    font-size: 5rem;
    text-align: center;
    border-radius: 50%;
    transition: all .15s ease-out;
}   

.skill:hover {
    transform: scale(1.15);
    text-shadow: 2px 2px 10px #b2b2b2;
}

.fa-html5 {
    color: #f06529;
}
.fa-css3 {
    color: #2965f1;
}
.fa-js {
    color: #f0db4f;
}
.fa-react {
    color: 	#61dafb;
}
.fa-node-js {
    color: #68a063;
}
.fa-bootstrap {
    color: #337ab7;
}
.fa-npm {
    color: #cb3837;
}
.fa-git {
    color: #f34f29
}
.fa-github {
    color: #424242;
}
.fa-java {
    color: 	#f89820;
}
.fa-python {
    color: 	#628aac;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.project {
    padding: 1rem;
    width: max(200px, 20%);
    max-width: max(25%, 300px);
    height: auto;
    width: 15vw;
    text-align: center;
}

.project img {
    width: 100%;
}

.project h6{
    font-weight: bold;
}

.project p {
    margin: .5rem;
    font-size: .8rem;
    color: rgb(0,208,130);
    font-weight: bold;
}