html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(244, 244, 244);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

#headshot {
    height: 100vh;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;    
    transform: translateX(-200px);
    transform: scale(1.15);
    position: fixed;
    z-index: -1;
    width: 35%;
    object-fit: cover;
}

nav {
    height: 80px;
    display: flex;
    position: fixed;
    top: 40px;
    margin: 0 auto;
    width: 95%;
    border-radius: 3rem;
    background-color: white;
    z-index: 1;
    transition: all 350ms ease-in;
}

nav .nav-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

nav h2 {
    font-weight: 700;
    font-size: 1.25rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    min-width: 50%;
    margin-right: 5rem;
}

nav ul li {
    display: inline;
    padding: 1rem;
    font-size: .8rem;
    font-weight: 700;
    flex-wrap: nowrap;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: color .1s linear;
}

nav ul li a:hover {
    color: rgb(0,208,130);
}

nav .nav-toggler {
    font-size: 1.5rem;;
    display: none;
    cursor: pointer;
}

/* main */

main {
    display: flex;
    width: 100%; 
}

main .left {
    width: 45%;
    min-height: 100vh;
}

main .center-container {
    padding: 1rem;
    width: 45%;
    top: 50px;
}

main .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-width: min(5%, 6rem);
    min-height: 100%;
    border-left: 1px solid rgb(214, 214, 214);
    position: fixed;
    right: 0;
    z-index: 0;
}

.center-container section {
    padding: 10vh 0;
    border-bottom: 1px solid grey;
}



.center-container .content > * {
    padding: .5rem 0;
    line-height: 1.5;
}

.container .content > h1 {
    line-height: 1.2;
}

.center-container #home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s
}

.center-container #home #icon-container {
    color: black;
    font-size: 1.5rem;
    border: 1px solid rgba(11, 11, 11, 0.132);
    border-radius: 50%;
    width: 3rem;
    height: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.center-container #home #scrollDown {
    color: black;
    animation: 1.5s linear infinite normal bounce, fadeIn 3s ease-in;
    -webkit-animation: 1.5s linear infinite normal bounce, fadeIn 3s ease-in;
}

.p-wrapper {
    width: 67%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes bounce { 
    0%, 100% {transform: translateY(0);} 
    25% {transform: translateY(3px);} 
    75% {transform: translateY(-3px);} 
 } 
 
 @keyframes bounce { 
    0%, 100% {transform: translateY(0);} 
    25% {transform: translateY(3px);} 
    75% {transform: translateY(-3px);} 
 }
 
 .bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
 }

h1, h2 {
    font-weight: 700;
    padding-bottom: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1rem;
    color:rgb(0,208,130);
    text-transform: uppercase;
    font-weight: bold;
}


.fa {
    font-size: 1rem;
    margin: 0 0 1rem 1rem;
    padding: 1rem;
    text-decoration: none;
    color:black;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50%;
    transition: color .2s linear;
    cursor: pointer;
}

.fa:hover {
    color: rgb(0,208,130);
}

.content{ 
    width: 100%;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.skills-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 2rem;
}

.skill  {
    line-height: 1;
    height: auto;
    font-size: 5rem;
    text-align: center;
    border-radius: 50%;
    transition: all .15s ease-out;
    cursor: pointer;
}   

.skill img {
    height: 100%;
}

li p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: grey;
}

.skill:hover {
    transform: scale(1.15);
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.fa-html5 {
    color: #f06529;
}
.fa-css3 {
    color: #2965f1;
}
.fa-js {
    color: #f0db4f;
}
.fa-react {
    color: 	#61dafb;
}
.fa-node-js {
    color: #68a063;
}
.fa-bootstrap {
    color: #337ab7;
}
.fa-npm {
    color: #cb3837;
}
.fa-git {
    color: #f34f29
}
.fa-github {
    color: #424242;
}
.fa-java {
    color: 	#f89820;
}
.fa-python {
    color: 	#628aac;
}

.portfolio-container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.project {
    margin: 1rem;
    min-width: max(230px, 27%);
    max-width: max(300px, 20%);
    height: auto;
    text-align: center;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project img {
    object-fit: cover;
    min-height: 60%;
    width: 100%;
}

.project h6{
    font-weight: bold;
    font-size: 1.15rem;
}

.project p {
    margin: .5rem;
    font-size: .8rem;
    color: rgb(0,208,130);
    font-weight: bold;
}

.project i {
    font-size: 1.5rem;
    color:rgba(0, 0, 0, 0.5);
    margin: 1rem .5rem;
    transition: all .2s linear;
}

.project i:hover {
    color: rgb(0,208,130);
}


@media screen and (max-width: 1200px) {

    nav ul {
        margin-right: 1rem;;
    }

    main .center-container {
        width: 60%;
    }

    .project {
        min-width: max(200px, 27%);
        max-width: max(300px, 20%);
    }

    main .right {
        position: absolute;
        flex-direction: row;
        align-items: flex-end;
        border-left: none;
    }
}

@media screen and (max-width: 900px) {
    #headshot{
        display: none;
    }
    nav {
        top: 0;
        width: 100%;
        border-radius: 0;
    }

    main {
        justify-content: center;
    }

    .container {
        height: 30vh;
    }

    .main #home {
        min-height: auto;
    }

    main .left {
        width: 0;
    }

    main .center-container {
        width: 80%;
    }

    main .right {
        display: none;
    }

    nav {
        min-height: 20px;
        justify-content: flex-start;
        padding: 1.5rem;
        height: auto;
        transition: all 350ms ease-in;
    }

    nav .nav-content {
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
        padding-left: 1rem;
    }

    nav ul {
        margin-top: 3rem;
        flex-direction: column;
        width: 100%;
    }

    nav .nav-items {
        animation: fadeIn 1s ease-out;
    }

    @keyframes fadeIn{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    nav .nav-items[data-visible='true'] {
        opacity: 1;
    }

    nav .nav-items[data-visible='false'] {
        opacity: 0;
        display: none;
    }

    nav .nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        margin: 0 3rem;
    }


}